* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML */
html {
	height : 100%;
	max-width: 100%;
    font-family: Coda Caption, sans-serif;
    color: #000;
    display: block;
    background-color: #000;
    tab-size: 4;
}

/* Body */

body {
	height : 100%;
	font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    min-width: 320px;
	margin: 0px;
    text-align: center;
    display: block;
    overflow-y: auto;
}

/*<div>*/

div {
    display: block;
}

/* Bounds & Layout */

#bounds {
    height: 100%;
}

#layout {
    height: 100%;
}

.l-page {
	height: 100%;
	background-color: #000;
	/*border-bottom: 4px solid #000;*/
    border-left: 8px solid #000;
    border-right: 8px solid #000;
    position: relative;
    width: auto;
    min-width: 320px;
    
}

/* Header & Footer */
.header {
	top: 0;
    z-index: 10;
    border-bottom: 4px solid #000;
    border-top: 8px solid #000;
    height: calc(16.66667%);
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF/*#fff*/;
    
}

.logo {
	background-color: transparent;
    border: 0;
    font-family: inherit;
    outline: 0;
    display: block;
    text-decoration: none;
    /*font-size: 2.6rem;*/
    font-size: 7vw;
    font-weight: 800;
}

@media screen and (min-width: 700px) {
  .logo {
     font-size: 50px;
  }
  
}

@media screen and (max-width: 320px) {
    .logo {
       font-size: 22px;
    }
  }


a {
    color: #000;
}

.logoText {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.footer {
    top: 133.3333%;
    z-index: 10;
    border-bottom: 8px solid #000;
    border-top: 4px solid #000;
    height: calc(16.66667% /*+ 8px*/);
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
}

.footerText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.3rem;
}

@media screen and (max-height: 815px) {
  .footerText {
     font-size: 18px;
  }
}

/* Navigation */

.m-navigation {
	height: 100%;
    z-index: 10;
    position: relative;
}

.one {
	top: 16.66667%;
	border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    height: calc(16.66667% /*+ 8px*/);
    left: 0;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    font-weight: 800;
    background-color: #f0a6ca;
}
.leftBox{
    width: 50%;
    left: 0;
    border-right: 4px solid #000;
    height: 100%;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.rightBox{
    width: 50%;
    right: 0;
    border-left: 4px solid #000;
    height: 100%;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.two {
	top: 33.33333%;
	border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    height: calc(16.66667% /*+ 4px*/);
    left: 0;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    font-weight: 800;
    background-color:  #f0a6ca;	
}

.three {
	top: 50%;
	border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    height: calc(16.66667%/* + 4px*/);
    left: 0;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    font-weight: 800;
    background-color: #f0a6ca;	
}

.four {
	top: 66.66667%;
	border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    height: calc(16.66667%);
    left: 0;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    font-weight: 800;
    background-color: #f0a6ca;	
}

.five {
	top: 83.333%;
	border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    height: calc(16.66667% /*+ 8px*/);
    left: 0;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    font-weight: 800;
    background-color: #f0a6ca;
}

.six {
	top: 100%;
	border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    height: calc(16.66667% /*+ 8px*/);
    left: 0;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    font-weight: 800;
    background-color: #f0a6ca;
}

.seven {
	top: 116.66667%;
	border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    height: calc(16.66667% /*+ 8px*/);
    left: 0;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    font-weight: 800;
    background-color: #f0a6ca;
}

/* Overlay */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  border-left: 8px solid #000;
  border-right: 8px solid #000; 
  border-top: 8px solid #000;
  border-bottom: 8px solid #000;
}

.overlay 
.closebtn {
  position: absolute;
  top: .5rem;
  right: 1.3rem;
  font-size: 3rem;
  color: #F8F8F8;
  text-decoration: none;
  font-weight: lighter;
  z-index: 15;
}
#overTop {
  height: 4rem;
  top: 0;
  position: absolute;
  background-color: antiquewhite;
  z-index: 10;
  width: 100%;
}

#message {
  display: none;
  height: 100%;
  overflow-y: auto;
}
  /* color: #F8F8F8;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  text-align: left;
  padding: 10vw;
  scroll-padding-top: 10vw;
} */


/* div.messageText{
  font-size: 25px;
  margin-top: 1rem;
} */

.wrapper { 
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin-top: 4rem;
  /* margin-bottom: 2rem; */
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
   /* margin-bottom: 2rem; */
}
#one {
  float:left; 
  margin-right:20px;
  margin-top: 10px;
  width: 60%;
  border-right:2px solid #000;
  height: 80%
  font-size: 25px;
}
#two { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  border:2px dashed #000;
  min-height:170px;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

@media screen and (max-width: 1000px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}
/* 
#uno {
  background-color: gray;
  float:left; 
  margin-right:10px;
  width:75%;
  border-right:2px solid #000;
  margin-right: 10px;

}
#dos {
  margin: auto;
}

.image {
  width: 30vw;
  height: auto;
  padding-bottom: 3vh;
}

@media screen and (max-width: 700px) {
  #uno { 
   float: none;
   margin-right:0;
   width:auto;
   border:0;
   border-bottom:2px solid #000;    
 }
} */

#elena, #juli, #will, #anna, #kristen, #scar, #celina, #eva, #jon, #emilia, 
#casey, #michael, #ace, #mary { 
    display: none;
}


